body {
	background: #EFEFBB;
	background: linear-gradient(to right, rgb(197, 230, 236), rgb(239, 187, 230));
	color: white;
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: #222;
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.Steel {
	background-color: #A2A3BB;
}

.Fire {
	background-color: #D1462F;
	color: #f4f4f4;
}

.Grass {
	background-color: #3AB795; 
}

.Electric {
	background-color: #FCF7DE;
}

.Water, .Ice {
	background-color: #DEF3FD;
}

.Ground {
	background-color: #f4e7da;
}

.Rock {
	background-color: #d5d5d4;
}

.Fairy {
	background-color: #fceaff;
}

.Poison {
	background-color: #8F3985; /* Plum */
	color: #f4f4f4;
}

.Bug {
	background-color: #86BAA1;
}

.Dragon {
	background-color: #0D3B66;
	color: #f4f4f4;
}

.Psychic {
	background-color: #d1809e;
	color: #f4f4f4;
}

.Flying {
	background-color: #F5F5F5;
}

.Fighting {
	background-color: #A63446;
	color: #f4f4f4;
}

.Ghost {
	background-color: #797596;
	color: #f4f4f4;
}

.Dark {
	background-color: #212738;
	color: #f4f4f4;
}

.Fire p, .Ghost p, .Psychic p, .Fighting p, .Poison p, .Dragon p{
	color: #f4f4f4;
}

.Normal {
	background-color: #F5F5F5;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: #666;
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}